
/* CSS Text */

/* CSS Selector */
/****
    * Universal Selector * {}
    * Type Selector h1,h2,h3
    * Class Selector .container
    * ID Selector #username
    * Child selector li>a Targets any <a>elements that are children of an <li>element (but not other <a> elements in the page)
    * Descendant Selector div span Target any <a> elements that sit inside a <p> element, even if there are other elements nested between them
    * Adjacent sibling h1+p Target the first <p> element after any <h1> element but not other <p> elements
    * General Sibling selector h1~p

*/


/* Container */

.container {
    background-color: lightgoldenrodyellow;
    /* default container */
    inline-size: 200%;
    font-size: 2rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

/* Absolute and Relative units */
/***
    ** Absolute Units **
    * px which is still used for specific cases 
    pt, in, cm, mm

    ** Relative Units **
    relative units is responseive and should be used instead of px
    %, em, rem, vh, vw

    px to rem
    200px / 16 = 12.5
    rem to px
    12.5 * 16 = 200
***/

/** 
    CSS reset is a way to remove the default css 
        * {
            margin: 0;
            padding: 0;
        }
**/

/** 
    what is AUTO? 

    auto mean the full width or height of the screen.
    it dynamicly change base on the screen size.

**/

/**
    display 
    all html element are either block or inline. exampel:
    block
    #
    #
    #
    inline 
    # # #

**/

/**
    position: static | relative | absolute | fixed | sticky

    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right 20px;
    z-index: -1; 
**/


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #222222;
    color:#fbf0f0;
}

h1+p {
    color: red;
}

.fixedBox {
    background-color: lightblue;
    border: lightseagreen solid 1rem;
    width: 12rem;
    height: 12rem;

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) */

    /* position: relative;
    top: 200px;
    left: 200px; */
}

.fixedBox {
    position: fixed;
    top: 20px;
    left: 40px;
    background-color: darkblue;
    width: 12rem;
    padding: 5rem;
    margin: 5rem;
}

/** Flexbox **/
.flex-container {
    background-color: lightslategray;
    width: 24rem;
    height: 24rem;
    display: flex;
    flex-direction: row; /* default */
}

.flex-item-1 {
    background-color: lightblue;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
}

.flex-item-2 {
    background-color: lightgreen;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
}

.flex-item-3 {
    background-color: lightpink;
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
}

a:visited {
    color: lightpink;
}
a {
    color: lightblue;
    
    text-align: center;
}